div.outer_wrapper {
	margin: auto;
	width: 60%;
	border: 3px solid green;
	padding: 10px;
	overflow: auto;
}

div.heading_block {
	overflow: auto;
}

hr.partition {
	height: 2px;
	color: green;
}

img.image {
	float: left;
	width: 30%;
	height: 100px;
}

h1.heading {
	font-size: 30px;
	width: 100%;
	height: 15px;
	transform: scale(1, 2);
	vertical-align: middle;
	text-align: center;
}

.table {
	width: 100%;
	font-size: 20px;
	border-collapse: collapse;
}